@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&family=Open+Sans:wght@600&display=swap');

.nombreLogo{
    font-size: 1.4rem;
    font-family: 'Hind Siliguri', sans-serif;
    margin-left: -10px;
}

.piePagina{
    height: 130px;
}

.contenido{
    margin-top: 85px;
}

.titulos{
    letter-spacing: 2px;
}

table{
    font-family: 'Hind Siliguri', sans-serif;
}